<html>
  <head>
    <title>Job Overview</title>
  </head>
  {% macro job_item(job) %}
  <tr>
    <td>{{ job.Id }}</td>
    <td>{{ job.UserId }}</td>
    <td>{{ job.StartTime|convTime }}</td>
    {% if job.IsRunning %}
    <td>Running</td>
    {% else %}
    <td>{{ job.StopTime }}</td>
    {% endif %}
    <td>{{ job.NumNodes }}</td>
  </tr>
  {% endmacro %}
  <body>
    <table>
      <tr>
        <th>Id</th>
        <th>User</th>
        <th>Start Time</th>
        <th>End Time</th>
        <th>Number of Nodes</th>
      </tr>
      {% for job in jobs %} {{ job_item(job) }} {% endfor %}
    </table>
  </body>
</html>
