{
  "DBHost": "http://infludb:8086",
  "DBToken": "influxdb_access_token",
  "DBOrg": "influxdb_org",
  "DBBucket": "influxdb_bucket",
  "JWTSecret": "fHn9zkoqXoVtibOH9U8rbZ6Pds0iqABP", // Generate a JWT private key for authentication
  "StoreFile": "store/store.json", // Job storage file, directory should be mounted in backend container
  "DefaultTTL": 604800, // Job Storage Default TTL
  "CacheSize": 50, // Job Cache Size
  "Prefetch": true, // Prefetch jobs into cache just as they finish
  "SampleInterval": "30s", // Interval between metric points
  "MetricQuantiles": ["0.25", "0.5", "0.75"], // Which quantiles to show in frontend
  "Partitions": ["cpuonly", "accelerated"], // Available Partition names
  "Metrics": {
    "cpuonly": [ // Config per Partition; Object Key = Partition name
      {
        "Measurement": "temp", // Measurement name in Influxdb
        "Type": "cpu", // Metric type, e.g. "cpu", "node", "socket", "accelerator"
        "AggFn": "mean", // Aggregation function to use in aggregation of per device(cpu, socket, accelerator) data to node data
        "Unit": "°C", // Unit; supported units are: "FLOP/s", "Bit/s", "°C", "B/s", "B", "%", ""
        "DisplayName": "Temperature", // Display name
        "SampleInterval": "30s", // Custom per metric sample interval
        "PThreadAggFn": "mean" // Aggregation function to use when aggregating each physical thread with their corresponding hyper thread. Supports: "mean", "sum". Defaults to "sum"
      },
      {
        "Measurement": "mem_bw",
        "Type": "socket",
        "AggFn": "sum",
        "DisplayName": "Memory Bandwidth",
        "Unit": "MB/s",
        "MaxPerType": 205000, // Maximum value per type. Must be in same unit as the data
        "MaxPerNode": 410000, // Maximum value per node. Must be in same unit as the data
      },
      {
        "Measurement": "flops_dp",
        "Type": "cpu",
        "AggFn": "sum",
        "DisplayName": "FLOP/S",
        "Unit": "MFLOP/s",
        "MaxPerType": 76000,
        "MaxPerNode": 5836000
      },
      {
        "Measurement": "ib_recv",
        "Type": "node",
        "AggFn": "sum",
        "DisplayName": "Infiniband Receive",
        "PostQueryOp": "|> difference(nonNegative: false, columns: [\"_value\"])", // Influxdb Flux query string executed after the query but before the parsing. Only needed in special cases. For further information check out the source code
        "SeparationKey": "device", // Custom separation key to use in parsing
        "MaxPerType": 200000000000,
        "MaxPerNode": 200000000000,
        "Unit": "Bit/s"
      },
      {
        "Measurement": "ib_xmit",
        "Type": "node",
        "AggFn": "sum",
        "DisplayName": "Infiniband Transmit",
        "PostQueryOp": "|> difference(nonNegative: false, columns: [\"_value\"])",
        "SeparationKey": "device",
        "MaxPerType": 200000000000,
        "MaxPerNode": 200000000000,
        "Unit": "Bit/s"
      }
    ],
    "accelerated": [
      {
        "Measurement": "temp",
        "Type": "cpu",
        "AggFn": "mean",
        "Unit": "°C",
        "DisplayName": "Temperature",
        "PThreadAggFn": "mean"
      },
      {
        "Measurement": "mem_bw",
        "Type": "socket",
        "AggFn": "sum",
        "DisplayName": "Memory Bandwidth",
        "Unit": "MB/s",
        "MaxPerType": 205000,
        "MaxPerNode": 410000
      },
      {
        "Measurement": "flops_dp",
        "Type": "cpu",
        "AggFn": "sum",
        "DisplayName": "FLOP/S",
        "Unit": "MFLOP/s",
        "MaxPerType": 76000,
        "MaxPerNode": 5836000
      },
      {
        "Measurement": "ib_recv",
        "Type": "node",
        "AggFn": "sum",
        "DisplayName": "Infiniband Receive",
        "PostQueryOp": "|> difference(nonNegative: false, columns: [\"_value\"])",
        "SeparationKey": "device",
        "MaxPerType": 200000000000,
        "MaxPerNode": 200000000000,
        "Unit": "Bit/s"
      },
      {
        "Measurement": "ib_xmit",
        "Type": "node",
        "AggFn": "sum",
        "DisplayName": "Infiniband Transmit",
        "PostQueryOp": "|> difference(nonNegative: false, columns: [\"_value\"])",
        "SeparationKey": "device",
        "MaxPerType": 200000000000,
        "MaxPerNode": 200000000000,
        "Unit": "Bit/s"
      },
      {
        "DisplayName": "GPU Memory Usage",
        "Measurement": "fb_memory",
        "Type": "accelerator",
        "AggFn": "mean",
        "SeparationKey": "type-id",
        "MaxPerType": 40536,
        "Unit": "MiB"
      },
      {
        "DisplayName": "GPU Utilization",
        "Measurement": "util",
        "Type": "accelerator",
        "SeparationKey": "type-id",
        "AggFn": "mean",
        "MaxPerType": 100,
        "Unit": "%"
      }
    ]
  },
  "LocalUsers": { // Auth credentials for local users
    "admin": { // Object key = Username
      "Password": "admin",
      "Role": "admin" // Available Roles: "admin", "job-control", "user"
    },
    "api": {
      "Password": "foijnviu4ni3j4fwm9832n12",
      "Role": "job-control" // Only "job-control" and "admin" have the permission to start and stop jobs via the api
    }
  }
}
