.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

.list div {
  /* width: 20%; */
  text-align: center;
}

.listItem {
  padding-bottom: 5px;
  padding-top: 5px;
  margin-top: 5px;
  cursor: pointer;
}

.listItem p,
.listHeader p {
  border-right: 1px solid;
}

.listHeader p:last-child,
.listItem p:last-child {
  border-right: 0px;
}

.listHeader {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding-bottom: 5px;
  padding-top: 5px;
  /* border-bottom: 1px solid black; */
}

.listItemColumn {
  flex-grow: 1;
  width: 100%;
}
